@charset "UTF-8";

header {
    width: 100vw;
    height: 50vw;
    display: flex;
    flex-flow: row;
    background-size: 100vw;
}

header h1#logo {
    background-image: url("../imagens/logo.png");    
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 60px;
}

header nav {
    width: 100vw;
    display: flex;
    flex-flow: row-reverse;    
}

header nav ul {
    display: flex;     
}

header nav ul li {
    padding-left: 50px;
    padding-right: 50px;    
    font-size: 1.375em;   
}

header img {
    margin-right: 50px;
}

header div.informacoes {
    width: 100vw;
    position: absolute;
    margin-top: 150px;
}

header div.informacoes h1 {
    font-size: 3.000em;    
}

header div.informacoes p {
    font-size: 1.375em;  
    margin-bottom: 30px; 
}

header div.informacoes a {
    font-size: 1.375em;
    width: 267px;
}

div.fotos {
    width: 100vw; 
    margin-top: -180px;     
}

div.fotos h1 {         
    background-size: 96vw;
    background-position: left;
    margin-left: 20px;   
}

div.video {
    margin-top: -60px;
}

div.video h2 {
    width: 40vw;  
    display: inline-block;
    padding-left: 60px;
    font-size: 2.250em;
}

div.video p {
    position: relative;
    width: 50vw;    
    font-size: 1.375em;
    padding-left: 60px;
}

div.video video {
    margin-left: 800px;
    margin-top: -200px;
}

article.dados {
    width: 100vw;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 60px;
}

article.dados ul {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

article.dados li {
    font-size: 3.000em;
}

section {
    display: flex;
    margin: 0; padding: 0;
    margin-top: 60px;    
}

section img#mulher {
    width: 836px;
    height: 519px;
}

section ul {
    padding-left: 50px;
    margin-top: 50px;
}

section ul li {    
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100vw;    
    padding-bottom: 50px;    
}

section ul li p { 
    width: 35vw;
    margin-top: -30px;
    text-align: left;    
    padding-left: 40px;  
    font-size: 1.375em;
}

section ul li span {
    width: 35vw;
    margin-top: -30px;    
    position: absolute; 
    padding-left: 111px;
    padding-top: 40px;   
    text-align: left;
    font-size: 1.375em;
}


