@charset "UTF-8";

body {    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;    
}

/* font-family: 'Merriweather', serif; */

header {    
    height: 550px;
    margin: 0; padding: 0;
    padding: 30px;
    text-align: center;
    background-image: url("../imagens/fundo.png");
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.8;        
}


header h1#logo {        
    margin: 0 auto;
    background-image: url("../imagens/logo.png");    
    background-repeat: no-repeat;
    margin-bottom: 20px;  
    width: 38px;
    height: 41px;
}

header h1#logo span {
    visibility: hidden;
}

header nav li {
    margin-bottom: 10px;
}

header nav a {
    color: #fff; 
    font-size: 1.2em;   
}

header nav a:hover {
    color: #fff;
}

header img {
    width: 52px;
    height: 52px;
}

header div.informacoes h1 {
    color: #fff;
    font-size: 1.5em;
    padding-bottom: 10px;
}

header div.informacoes p {
    color: #fff;
    font-size: 1.2em;
    opacity: 0.9;
    padding-bottom: 20px;    
}

a.button {
    color: #fff;
    border: none;
    background-color: #fd6b71;
    border-radius: 30px;
    font-size: 1.1em;
}

a.button:hover {
    color: #fff;
}

div.fotos {
    position: relative;
    margin-top: -25px;
}

div.fotos h1 {
    width: 100vw;
    height: 500px;
    background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0)), url("../imagens/vignettes.png");
    background-repeat: no-repeat; 
    background-size: cover;   
}

div.fotos h1 span {
    visibility: hidden;
}

div.video {
    position: relative;
    margin-top: -50px;
    padding: 15px;
}

div.video h2 {
    color: #4c4c51;
    font-size: 1.4em;    
    padding-bottom: 10px;
    text-align: center;
}

div.video p {
    color: #88939e;    
    text-align: justify;
    padding-bottom: 15px;
    font-size: 0.9em;    
}

div.video video {
    border-radius: 6px;
}

article.dados {
    margin-top: 30px;
}

article.dados li {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #f94d59;
    font-weight: 900;
    font-size: 2.5em;
    opacity: 0.8;
}

article.dados li.separador {
    width: 20px;
    background-color: #dbdbdb;
    margin: 0 auto; 
    padding: 1px; 
    margin-bottom: 20px;   
    border-radius: 1px;      
}

article.dados span {
    display: block;
    padding-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #88939e;
    font-weight: 400;
    font-size: 0.4em;
}

section {
    padding: 8px;
}

section img#mulher {
    border-radius: 4px;
    margin-bottom: 30px;
}

section ul li {
    text-align: center;
    margin-bottom: 30px;
}

section ul li p {
    font-size: 1.3em;
    font-weight: 700;
    color: #fb5c68;
    opacity: 0.9;
}

section ul li span {
    color: #88939e;
    font-weight: 400;
    opacity: 0.9;
    font-size: 1em;
}

section.cidade {
    padding: 10px;
    text-align: center;
}

section.cidade h2 {
    color: #4c4c51;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 20px;
}

section.cidade h3 {
    color: #88939e;
    opacity: 0.9;
    text-align: justify;
    padding-bottom: 30px;
}

section.cidade form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

section.cidade form select#city {
    width: 80vw;    
    height: 10vw;
    border: 2px solid #dbdbdb;
    border-radius: 15px 15px 0 0;
    color: #88939e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.0em;  
    padding-left: 10px; 
}

section.cidade form a#create {
    width: 80vw;    
    height: 10vw;
    border-radius: 0 0 15px 15px;  
    background-color: #fd6e74 !important;    
    font-weight: 400;     
    border: none; 
}

section.airbnb {
    margin-top: 15px;
    padding: 10px;
    
}

section.airbnb form {
    display: flex;
    flex-flow: column;
}

section.airbnb form select {
    height: 15vw;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 2px solid #dbdbdb;
    color: #75808c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.0em;  
    padding-left: 10px;
    opacity: 0.9;
}

section.airbnb table th {
    width: 25%;
    padding-bottom: 10px;
    color: #fb5c68;
    font-weight: 700;
    opacity: 0.9;
}

section.airbnb table td {
    width: 20%;
    font-size: 0.70em;
}

section.airbnb table a {
    color: #88939e;
    opacity: 0.9;
    line-height: 20px;
}

section.airbnb table a:hover {
    text-decoration: underline;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #e8e8e8;
    border-radius: 2px;
}

footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

footer ul {
    display: flex;
    flex-flow: row;
    align-items: center;
}

footer ul li {
    padding: 10px;
}

footer ul li a {
    color: #88939e;
    opacity: 0.9;
    font-size: 0.9em;
}

footer ul li a:hover {
    color: #88939e;
    opacity: 0.9;
    text-decoration: underline;
}
